<md-dialog aria-label="Mango (Fruit)" style="width:800px">
        <form name="useForm" ng-cloak>
            <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Discount Parameter Range.</h2>
            </div>
            </md-toolbar>
    
            <md-dialog-content>
            <div class="md-dialog-content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Min</th>
                            <th>Max</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="discount in discounts">
                            <td>R {{ discount.min }}</td>
                            <td>R {{ discount.max }}</td>
                            <td>R {{ discount.percentage }}</td>
                        </tr>
                    </tbody>
                </table>
    
                <!-- <div class="content">
                    <h3>Balance: R {{balance}}</h3>
                </div> -->
            </div>
            </md-dialog-content>
    
            <md-dialog-actions layout="row">
            <span flex></span>
            <md-button  ng-click="answer()" class="md-raised md-primary">Ok</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>